/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0e9f0;
}

/* Container styles */
#container {
  max-width: 400px;
  padding: 20px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Heading styles */
h1 {
  color: #1e88e5;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Subheading styles */
#header-subtitle {
  text-align: center;
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
}

/* Input container styles */
#input-container,
#search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Input styles */
#todo-input,
#search-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #64b5f6;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Input placeholder styles */
#search-input::placeholder,
#todo-input::placeholder {
  color: #90a4ae;
}

/* Button styles */
#add-btn,
#search-btn,
#clear-btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Add button styles */
#add-btn {
  background-color: #1e88e5;
  color: #ffffff;
  margin-left: 10px;
}

/* Search button styles */
#search-btn {
  background-color: #42a5f5;
  color: #ffffff;
  margin-left: 10px;
}

/* Clear button styles */
#clear-btn {
  background-color: #1976d2;
  color: #ffffff;
}

/* Button hover styles */
#add-btn:hover,
#search-btn:hover,
#clear-btn:hover {
  background-color: #1565c0;
}

/* Clear button hover styles */
#clear-btn:hover {
  background-color: rgb(166, 23, 23);
}

/* Row button styles */
.row-btn {
  border: none;
  outline: none;
  background: transparent;
  color: #363232;
  font-size: 15px;
  cursor: pointer;
}

/* Todos container styles */
#todos-container {
  display: flex;
  flex-direction: column;
}

/* Todo row styles */
#todo-row {
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  background-color: #bbdefb;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

/* Todo row hover styles */
#todo-row:hover {
  background-color: #90caf9;
}

/* Todo checkbox styles */
#todo-row input[type="checkbox"] {
  margin-right: 10px;
}

/* Checked todo styles */
#checked-todo {
  text-decoration: line-through;
}

/* Todos footer styles */
#todos-footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Counter styles */
#counter {
  color: #666;
  font-size: 14px;
  flex: 1;
  text-align: center;
}

/* Empty image styles */
#empty-image {
  display: block;
  margin: auto;
  max-width: 70%;
}
