* {
  font-family: "Lato";
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: right;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}

#container {
  background-color: rgba(207, 206, 206, 0.2);
  /* width: 100%; */
  padding: 30px;
  /* background: transparent; */
  border: 2px solid #304558;
  border-radius: 10px;
  /* backdrop-filter: blur(15px); */
}

/* body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
}

#container {
  padding: 30px;
  background: rgba(48, 69, 88, 0.8);
  border: 2px solid #304558;
  border-radius: 10px;
} */

h1 {
  color: #eee;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Rubik";
}

#input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid #304558;
  border-radius: 30px;
  color: #eee;
  font-size: 16px;
  margin-right: 10px;
}

#search-input::placeholder,
#todo-input::placeholder {
  color: #bfbfbf;
}

#add-btn {
  border: none;
  outline: none;
  background: #304558;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#search-input {
  flex: 0.5;
  outline: none;
  background-color: transparent;
  padding: 10px 10px 10px 20px;
  border: 2px solid #304558;
  border-radius: 30px;
  color: #eee;
  font-size: 14px;
  margin-right: 10px;
}
#search-btn {
  border: none;
  outline: none;
  /* background: #304558; */
  margin-left: 4px;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.row-btn {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

#todos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#todo-row {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  align-items: center;
  height: auto;
  margin-bottom: 15px;
  font-size: large;
  text-align: left;
}

#todo-row input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
#counter {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: x-small;
}

#checked-todo {
  text-decoration: line-through;
}

#clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

#todos-footer {
  gap: 10px;
  display: grid;
  grid-template-rows: auto auto; /* Two rows, first row auto height, second row takes remaining space */
  grid-template-columns: auto auto; /* Two columns */
  align-items: center;
  margin-top: 15px;
}

#todos-footer hr {
  grid-column: 1 / span 2; /* Spanning both columns */
}

#todos-footer .counter {
  grid-area: counter; /* Placing counter in the defined grid area */
}

#todos-footer .clear-btn {
  grid-area: clear-btn; /* Placing clear-btn in the defined grid area */
}
